.App {
  background-color: rgb(220, 216, 216);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 180px;
}

.nav-container{
  background-color: #4287f5;
  margin-bottom: 0px;
  margin: 0px;
}
.nav-heading{
  color: white;
  font-size: "Roboto";
  font-size: 28px;
  font-weight: 500;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 0px;
}

.heading-container {
  background-color: #ffffff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
}

.heading-container h1 {
  font-family: roboto;
  color: #404040;
  font-size: 28px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.filter-container input {
  font-family: roboto;
  background-color: #cacccf;
  color: #000;
  font-size: 18px;
  padding: 8px 18px;
  border-radius: 8px;
  outline: none;
  border: none;
}

.filter-container input::placeholder {
  color: #474642;
}

.filter-container select {
  font-family: roboto;
  background-color: #c0c0be;
  font-size: 18px;
  border-radius: 8px;
  padding: 8px 18px;
  outline: none;
  border: none;
}

select option:checked {
  background-color: #f8df8c;
}

.view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.view-container h1 {
  font-family: roboto;
  color: #404040;
}

.view-container button {
  font-family: roboto;
  color: #fff;
  font-size: 18px;
  margin: 20px;
  padding: 8px 18px;
  background-color: red;
  border-radius: 6px;
  border: none;
  outline: none;
  cursor: pointer;
}